<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-config-transform" version="0.1.0">
    <name>Config Transformation</name>
    <description>Cordova Config Transformation Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,config,transform</keywords>
    <hook type="before_prepare" src="hooks/loadConfig.js" />
</plugin>